.headerContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.titleHeader> h3 {
	color: #000000B2;
	font-size: 30px;
	font-weight: 800;
}



.bodyContent {
	margin-top: 30px;
}

.listItems {
	display: flex;
	flex-flow: row wrap;
	grid-gap: 30px 73px;
}


.paginations {
	margin-top: 40px;
}

.listBullet{
	display: flex;
	grid-gap: 5px;
} 

