* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

li {
	list-style: none;
}

.body {
	width: 100%
}

.wrapperApp{
	width: 1600px;
	background: white;
	margin: 0 auto;
}

.container{
	margin-top: 30px;
	padding: 0 50px;
	background: #FFFFFF;
	box-shadow: 0px 6px 20px 2px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
}

.baseText{
	color: #000000B2;
	font-size: 20px;
	font-weight: 800;
}

.content {
	margin-top: 40px;
	padding-bottom: 50px;
}

@media(max-width: 1630px) {
	.wrapperApp{
		width: 1400px;
	}
}

@media(max-width: 1430px) {
	.wrapperApp{
		width: 1200px;
	}
}

@media(max-width: 1230px) {
	.wrapperApp{
		width: 900px;
	}
}

@media(max-width: 930px) {
	.wrapperApp{
		width: 600px;
	}
	.container{
		margin-top: 0px;
	}
}